@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700;800&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Manrope', sans-serif;
}

body {
background: hsl(218, 23%, 16%);
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
}

.card {
background: hsl(217, 19%, 24%);
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
width: 540px;
padding: 3rem 2rem 4.5rem 2rem;
margin: 0 auto;
border-radius: 15px;
position: relative;
  
}

p {
color: hsl(150, 100%, 66%);
letter-spacing: 3.46px;
font-weight: 700;
margin-bottom: 1rem;
font-size: 12px;
}

h2 {
color: hsl(193, 38%, 86%);
font-size: 28px;
margin-bottom: 2.5rem;
}

.dice {
  background: hsl(150, 100%, 66%);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  bottom: -2rem;
}

.dice:hover {
box-shadow: 0px 0px 40px 0px rgba(83,255,169,1);
transition: .2s ease-in;
} 

.divider-mobile {
display: none;
}

@media(max-width: 924px){
.divider-mobile {
  display: block;
}

.divider-desktop {
  display: none;
}
}

@media(max-width: 620px){
.card {
  width: 90%;
}

@media(max-width: 375px){
  h2 {
    font-size: 24px;
  } 
  p {
    font-size: 11px;
  }
}
}